.style-widget button{
	position:relative;
	z-index: 9999;
}

.style-widget{
   position: relative;
  width: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  clear: both;
  padding-bottom: 4px;
}

.style-widget:before, ._fp_s_set_box:before{
  content: '';
  position:absolute;
  top: 0px; bottom: 0px;
  left: 8px; right: 8px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(255, 255, 255) rgb(193, 193, 193) rgb(193, 193, 193) rgb(255, 255, 255);

  }

.style-widget:after{
  content: '';
  position:relative;
  width:100%;
  clear:both;
  }

.style-widget .title{
  position: relative;
  width: 100%;
  height: 16.88px;
  margin-left: -1px;
}
.style-widget .title .left{
  position: absolute;
  width: 85.93%;
  height: 100%;
  overflow: hidden;
  left: 8px;
}

.style-widget p.name{
  font-family: source-code-pro;
  font-size: 10px;
}

.style-widget .title .left p.name{
  width: 100%;
  height: 12px;
  position: relative;
  float: left;
  margin: 3px;

  border-bottom-width: 0px;
  cursor: inherit;
  white-space: nowrap;
  overflow: hidden;
  }

.style-widget .title .remove{
  position: relative;
  margin: 4px 8px 3px 3px;
  float: right;
  width: 11px;
  height: 11px;
  background-image: url(../img/close_widget.png);
  cursor: default;
  opacity: .2;
}








.style-widget .input-box{
  position: relative;
  height: 25px;
  clear: both;
  min-width: 67px;
  width: 100%;
}


.style-widget .input-span{
position: absolute;
left: 8px;
right: 12px;
}

.style-widget.measured .input-span{
right: 59px;
}

.style-widget.iconed .input-span{
left: 38px;
}

.style-widget.iconed.measured .input-span{
left: 0px;
}

.style-widget.iconed.measured .input-span{
right: 94px;
}

.style-widget.measured .input-stretcher{
  right: 53px;
  left: 8px;
  padding-right: 2px;
  padding-left: 6px;
  position: absolute;
  width:auto;
}

.style-widget .input-box input{
  padding-right:4px;

}



.style-widget .input-box input,
.style-widget .input-box select{
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(154, 154, 154) rgb(204, 204, 204) rgb(154, 154, 154) rgb(154, 154, 154);
  position: absolute;
  height: 13px;
  font-size: 10px;
  line-height:12px;
  width:100%;
  top: 4px;
  text-align: right;

}
.style-widget.measured .input-box input{
  border-width: 1px 0px 1px 1px;
  border-radius: 4px 0px 0px 4px;
}

.style-widget .input-box select{
  height: 2em;
}
.style-widget .input-box option{
  text-align: right;
}

.style-widget.measured .input-box .unit
{
  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(154, 154, 154) rgb(154, 154, 154) rgb(154, 154, 154) rgb(197, 197, 197);
  position: absolute;
  height: 15px;
  font-size: 10px;
  padding-left: 2px;
  top: 4px;
  width: 16px;

  right: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.style-widget.measured .input-box .unit .select{
  border: 0px;
  background-color:transparent;
  height: 12px;

  padding-left: 0px;
}

.style-widget.measured .input-box .unit .select:before{
background-image:none;
  }

.style-widget.measured .input-box .scrub
{
  background-image: url(../img/resize.png);
  border: 1px solid rgb(170, 170, 170);
  position: absolute;
  width: 17px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-position: 0px -1px;
  text-align: center;
  top: 4px;
  right: 8px;
  cursor: e-resize;
}



.style-widget.iconed .input-holder{
  position: absolute;
  left: 9px;
  right: 9px;
}

.style-widget.iconed .input-holder input{
  width:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid gray;
}


/* modifications for icon widgets */

.style-widget.iconed .icon{
  position: absolute;
  display: block;
  width: 22px;
  left: 8px;
  margin-top: 1px;
}

.style-widget.iconed.measured .input-box input{
  left: 36px;
}

.style-widget.iconed .input-holder{
  left: 36px;
}



/* used widgets with set inline styles */

.style-widget.used .remove{
  opacity: 1.0;
  cursor:pointer;
}




/* compact widget modifications */
.style-widget.compact{
  border-width: 0px;
  min-height: 24px;
  margin: 0px 0px;
  padding: 6px 0px 0px 0px;
}


.style-widget.compact > .title{
  height: 24px;
}

.style-widget.compact > .input-box{
  position:absolute;
  /*left: 50px;*/
  left:20%;
  top: 2px;
  right: 17px;
  height:28px;
  min-width: 70px;
  width:auto;
  clear:both;
}

.style-widget.compact > .input-holder{
  top: 4px;
  }


.style-widget.compact.simple:before{
  content: '';
  position:absolute;
  top: 0px; bottom: 0px;
  left: 8px; right: 8px;
 }

._fp_s_set_box ._fp_s_widget_simple._fp_s_widget_compact:before{
  border: 0px;
}


.style-widget.compact.simple .title .left{
  width: 20%;
}
.style-widget.compact.simple .title .left p.name{
  /*word-wrap: break-word;*/
  white-space:normal;
  overflow:visible;
  line-height:.9em;
}



/* expandable well */
.style-widget .subsection{
  position:relative;
  width: 100%;
  height: 14px;
  clear:both;
  overflow:hidden;
  transition:height .5s;
  -webkit-transition: height .5s;
}

.style-widget .subsection:after{
  content: '';
  position:relative;
  width:100%;
  clear:both;
  }

.style-widget .subsection > p.name{
position: relative;
left: .5em;
cursor:pointer;
width: 4.0em;
height: 1.1em;
background-image: url(../img/metric_collapsed.png);
background-repeat: no-repeat;
padding-left: 1.4em;
cursor: pointer;
clear:both;
margin: 0px 0px 4px 0px;
line-height: 1.1em;
}

.style-widget .subsection.expanded{
  height:auto;

}

.style-widget .subsection.expanded > p.name{
  background-image: url(../img/metric_expanded.png);
}

/* expand subwidget modifications */

._fp_s_widget._fp_s_widget_w_expand ._fp_s_expand ._fp_s_widget:before{
  border:0px;

}

._fp_s_widget._fp_s_widget_w_expand ._fp_s_expand ._fp_s_widget._fp_style_used{

}



/* quad measure subs */
.style-widget .quad .style-widget{
   width: 48.19%;
   margin: 0px auto;
    padding-left: 4px;
    min-width: 67px;
    border: 0px;

}

.style-widget .quad .style-widget:before{
border: 0px;
  }

.style-widget .quad .style-widget .title .remove{
  margin-top: 0px;
  margin-bottom: 0px;
}
.style-widget .quad .style-widget .title{
  height: 12px;
}

.style-widget .quad .style-widget .title > p.name{
  margin-top: 0px;
  margin-bottom: 0px;
}

.style-widget .quad .style-widget:nth-of-type(2){
  clear:left;
  float:left;
}
.style-widget .quad .style-widget:nth-of-type(3){
  clear:right;
  float:right;
}

/* Color widget */

._fp_s_widget._fp_s_color_widget input {
  position:absolute;
  width: auto;
  right: 50px;
  left:0px;

}

._fp_s_widget._fp_s_color_widget ._widget_color_background {
  position:absolute;
  right:14px;
  top: -14px;
}

._fp_s_widget._fp_s_color_widget._fp_s_widget_compact input{
  right: 26px;
}

._fp_s_widget._fp_s_color_widget._fp_s_widget_compact ._widget_color_background {
  position:absolute;
  right:0px;
  top: 0px;
  width: 19px;
  height: 19px;
}


._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget{
  width:50px;
  min-width: 50px;
  height:28px;
}

._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget_input_box{
min-width:40px;
width: 40px;
  }

._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget:nth-of-type(2){
  position:absolute;
  right: 50%;
  }
._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget:nth-of-type(3){
  position:absolute;
  left: 50%;
  }

  ._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget:nth-of-type(4){
  margin-top: 28px;
  }

._fp_s_widget._fp_s_color_widget ._fp_s_quad_container ._fp_s_widget_simple_title_remove{
  margin-right:2px;
  top: 4px;
}

._fp_s_widget._fp_s_color_widget ._fp_s_quad_value ._fp_s_widget_simple_title_left,
._fp_s_widget._fp_s_color_widget ._fp_s_quad_value ._widget_input_box input{
  display:none;
}

._fp_s_widget._fp_s_color_widget ._fp_s_quad_value ._widget_color_background{
right:4px;
top: -16px;

}

/* SLIDER */

._fp_s_widget._fp_s_slider{
  height: 45px;
}


/*  STYLES IN USE */

.style-widget.used > .input-box input,
.style-widget.used > .input-box  div.unit,
.style-widget.used select{
   /*border-color: rgb(217, 238, 251) rgb(181, 181, 181) rgb(119, 135, 151) rgb(255, 255, 255);*/
 background-color: #D5ECFF;
}

.style-widget.used{
  background-color: #D3D3D3;

}

.style-widget.used:before{
border-top-color: #E2E2E2;
  }

.style-widget.computed input,
.style-widget.computed select{
  background-color: #ffecb7;
}

.style-widget.sheet input,
.style-widget.sheet div.unit,
.style-widget.sheet .select{
   /*border-color: rgb(217, 238, 251) rgb(181, 181, 181) rgb(119, 135, 151) rgb(255, 255, 255);*/
 background-color: #d9ad93;
}




