

.tool {
position:relative;

border-bottom: 1px solid silver;
  background-color:#E7E7E7;
padding-top:20px;
box-sizing:border-box;}

.undocked .tool {
  z-index: 1000;
position:absolute;
border: 1px solid gray;
border-radius: 5px;}

.tool  .resize {
cursor: se-resize;
width: 8px;
height: 8px;
position: absolute;
right:2px;
bottom:2px;
background-image: url(../img/tool_resize.png);
z-index: 900;}

.undocked .tool > .title{
cursor: move;
border-radius: 5px 5px 0px 0px;}

.tool .view {

  overflow-y:auto;
  overflow-x:hidden;
margin-top:-20px;

  padding: 3px;
box-sizing: border-box;
  height:100%;
  width:100%;
}

.tool > .title{
z-index: 300;
position: relative;
width: 100%;
height: 20px;
  top:-20px;
cursor: n-resize;
text-align: center;
font-size: 15px;
font-weight: 900;
letter-spacing: 1px;
font-family: arial, sans-serif;
margin-bottom: 0px;
color: white;
padding: 1px 0px 0px 0px;
text-shadow: 1px 1px 1px #000;
filter: dropshadow(color=#000, offx=1, offy=1);
white-space: nowrap;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
background: -moz-linear-gradient(top, #dbdbdb 0%, #bababa 100%);
background: -o-linear-gradient(top, #dbdbdb 0%,#bababa 100%);
background: -ms-linear-gradient(top, #dbdbdb 0%,#bababa 100%);
background: linear-gradient(to bottom, #DBDBDB 0%,#BABABA 100%);}

.tool > .title:hover{
  background: #e4f5fc; /* Old browsers */
  background: -moz-linear-gradient(top,  #e4f5fc 0%, #76c5e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#76c5e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e4f5fc 0%,#76c5e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e4f5fc 0%,#76c5e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e4f5fc 0%,#76c5e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e4f5fc 0%,#76c5e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#76c5e8',GradientType=0 ); /* IE6-9 */
}



.tool.can-dock > .title{
  background: #e4f5fc; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffd074 0%, #fca212 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd074), color-stop(100%,#fca212)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffd074 0%,#fca212 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  ##ffd074 0%,#fca212 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffd074 0%,#fca212 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffd074 0%,#fca212 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd074', endColorstr='#fca212',GradientType=0 ); /* IE6-9 */
}




/* tabbed toolboxes */
.tab_panel .title-bar{
  display:none;
}

.title-bar.tab_deck{
  top:0px;
  padding-top:8px;
  height: 20px;
  font-weight:normal;
  text-shadow:none;
}

.tool_box .tab_panel{
  top:0px;
}

.tool_box.tab_group > .tool_viewport > .tool_view{
  height: 100%;
}

.tool_box.tab_group .tab_panel{
  height: 100%;
}

.tool_box.tab_group .tool_box{
  border-radius: 0px;
  border: 0px solid black;
}

.tool_box.tab_group .tool_box .tool_viewport{
  top: 0px;
}



.tabs{
  width:100%;
  height: 0px;
  position:absolute;
  top: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 900;
}



.label{
  margin: 0px;
  text-align:center;
  cursor:pointer;
  width:25%;
  float:left;
  top:0px;
  position:relative;
  height: 12px;
  line-height: 1.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}
.label:before{
  content: '';
  position:absolute;
  left:-10px;
  right: -10px;
  top:-10px;
  height: 2px;
  border-width: 22px 18px 0px 18px;
  border-style:transparent;
  border-image-source: url(../img/style_tab.png);
  border-image-repeat:repeat-x;
  border-image-slice: 100% 29% 0% 29%;


  -moz-border-image: url(../img/style_tab.png) 100 29 0 29 repeat-x;



  }
.label.active{
  color: black;

}

.label.active:before{
  border-image-source: url(../img/style_tab_active.png);
  -moz-border-image-source: url('../img/style_tab_active.png');
}

.label:hover:before{
  border-image-source: url('../img/style_tab_hover.png');
 -moz-border-image-source: url('../img/style_tab_hover.png');

}


.label p{
  position:absolute;
  left:5px;
  right:5px;
  overflow:hidden;
  font-size:10px;
  line-height: 1.0;
}
