


._fp_editable ol, ._fp_editable ul{
  border-left: 4px solid lightblue;
}

._fp_editable ol::before{
  content: 'ol';
} 
._fp_editable ul::before{
  content: 'ul';
}
._fp_editable ol::before, ._fp_editable ul::before{

  position: absolute;
  
  font-family: 'source-code-pro';
  margin-left: -54px;
  font-size: 12px;
  width:15px;
  padding: 2px 2px 2px 2px;
  letter-spacing: -1px;
  color:lightblue;
  background-color: #FFF;
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 3px;
  text-align: center;
  vertical-align:middle;
}



._fp_editable p, 
._fp_editable blockquote,
._fp_editable h1, 
._fp_editable h2, 
._fp_editable h3, 
._fp_editable h4, 
._fp_editable h5, 
._fp_editable h6 
{
  padding-left: 12px !important;
}
._fp_editable p, 
._fp_editable ol, 
._fp_editable ul,
._fp_editable h1, 
._fp_editable h2, 
._fp_editable h3, 
._fp_editable h4, 
._fp_editable h5, 
._fp_editable h6 
{
  margin-left: 12px !important;
}

._fp_editable p{
  border-left: 4px solid orange !important;
}

._fp_editable p::before{
  content: 'p';
  position: absolute;
  margin-left: -22px;
  font-family: 'source-code-pro';
  font-size: 12px;
  width: 10px;
  color: #FFA500;
  background-color: #FFF;
  font-weight: bold;
  border: 2px solid #FFA500;
  padding: 0px 2px 2px 2px;
  border-radius: 3px;
  text-align: center;
  vertical-align:middle;
}






._fp_editable blockquote{
  border-left: 4px solid #b792e1 !important;
  position:relative !important;
}

._fp_editable blockquote::before{
  content: 'block quote';
}
._fp_editable blockquote::before{
  position:absolute;
  margin-left: -40px;
  font-family: 'source-code-pro';
  font-size:10px;
  line-height: 1.1em;
  width:36px;
  padding:2px;
  background-color:#e4ccfc;
  color:black;
  height:100%;
}



._fp_editable h1, 
._fp_editable h2, 
._fp_editable h3, 
._fp_editable h4, 
._fp_editable h5, 
._fp_editable h6 {
  border-left: 4px solid #1d8800 !important;
}
._fp_editable h1::before,
._fp_editable h2::before,
._fp_editable h3::before,
._fp_editable h4::before,
._fp_editable h5::before,
._fp_editable h6::before
{
  position: absolute;
  font-family: 'source-code-pro';
  margin-left: -25px;
  font-size: 12px;
  width:15px;
  padding: 0px 2px 0px 0px;
  letter-spacing: -1px;
  color: #1d8800;
  background-color: #FFF;
  font-weight: bold;
  border: 2px solid #1d8800;
  border-radius: 3px;
  text-align: center;
  vertical-align:middle;
}
._fp_editable h1::before{ content: 'h1'; }
._fp_editable h2::before{ content: 'h2'; }
._fp_editable h3::before{ content: 'h3'; }
._fp_editable h4::before{ content: 'h4'; }
._fp_editable h5::before{ content: 'h5'; }
._fp_editable h6::before{ content: 'h6'; }



/*  INLINE  */



._fp_editable br{
  content: '';
}

._fp_editable br::after{
  content: '<br>';
  font-family: 'source-code-pro';
  
  font-weight:normal;
  width:15px;
  height: 1.666em;
  font-size:.6em;
  padding: 2px 4px 2px 4px;

  margin: 0px 3px 0px 3px;
  color:white;
  background-color: silver;
  vertical-align:center;
  border-radius: 4px;

}



._fp_editable span::before{
  content: 'span';
}
._fp_editable span::after{
  content: '/span';
}

._fp_editable span::before, ._fp_editable span::after{
  display:inline;
  position:relative;
  font-family: 'source-code-pro';
  font-weight:normal;
  width:15px;
  height: 1.666em;
  font-size:.6em;
  padding: 2px 4px 2px 4px;

  margin: 0px 3px 0px 3px;
  color:black;
  background-color: pink;
  vertical-align:center;
  border-radius: 6px;
}